/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

@media (width <= 375px){
  .page {
    padding: 10px;
  }
  .header__title{
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width >= 376px){
  .page {
    padding: 20px;
  }
  .header__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
}

@media (width <= 375px) and (width >= 376px){

}

.page {
  background-color: var(--bg-color, #FFF1F7);
  color: var(--text-color, #353430);
  background-image: url(/images/cover-image-light.png);
  background-size: contain; 
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  min-height: 728px;

}

.decorated-zone{

}

.header__theme-menu{

}

.header__theme-menu-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
  gap: 10px;
  justify-content: center;
  align-items: flex-start; 
}

.header__theme-menu-item{
  display: grid;
  align-content: center;
}

.header__theme-menu-button{
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__title{
  display: grid;
  font-weight: var(--bold-weight);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
  color: #FFC2E6;
  align-items: center;
}

.title{
  margin-block-start: -10px;
  display: grid;
  grid-template-columns: 1fr minmax(355px, 1fr);
  align-items: center;
}

.title-decor{
  background-color: var(--bg-text-color);
  font-weight: var(--bold-weight);
  line-height: 23.4px;
  grid-column-start: 2;
}
