/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  background: var(--bg-color) var(--bg-image) top center/cover fixed no-repeat;
  padding: 0 20px;
  line-height: 23.4px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

/*header*/

.header {
  display: grid;
  color: var(--text-color-header);
  height: 100vh;
  grid-template-rows: 1fr max-content 1fr;
}

.rec-icon {
  display: flex;
  position: absolute;
  gap: 10px;
  align-items: center;
  inset-inline-end: 0;
  inset-block-start: 20px;
  margin: 0 9px 0 0;
  visibility: var(--visibility-rec-icon);
  line-height: 25px;
}

.rec-icon::after {
  content: "";
  display: block;
  background-color: var(--shadow-text);
  box-shadow: 0px 0px 3px 3px var(--shadow-text);
  position: relative;
  border-radius: 50%;
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  min-block-size: 94.7vh;
  position: relative;
  padding-block-start: 20px;
  padding-block-end: 20px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--decorated-zone-frame-color);
  border-right: 1px solid var(--decorated-zone-frame-color);
  inset-inline-end: 0;
  inset-block-start: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--decorated-zone-frame-color);
  border-left: 1px solid var(--decorated-zone-frame-color);
  inset-inline-start: 0;
  inset-block-end: 20px;
}

.header__title {
  margin-inline-start: -20px;
}

.header__subtitle {
  display: grid;
  grid-template-columns: 1fr minmax(355px, 1fr);
  align-items: center;
}

.header__theme-menu,
.header__theme-menu-list,
.header__theme-menu-item {
  display: grid;
}

.header__subtitle-position {
  grid-column-start: 2;
}

.header__theme-menu {
  align-items: flex-start;
}

.header__theme-menu-list {
  grid-template-columns: repeat(auto-fit, 70px);
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.accentid-shadow-text {
  font-size: var(--title-font-size-pc);
  font-weight: var(--bold-weight);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--shadow-text);
  color: var(--main-title-color);
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--bg-text-color);
  font-weight: var(--bold-weight);
  font-size: var(--main-font-size);
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

/*focus*/

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

a:focus,
.header__theme-menu-button:focus {
  outline: none;
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus-visible {
  outline: 1px solid currentColor;
}

@media (width < 1024px) {
  .decorated-zone {
    min-block-size: 96vh;
  }
  .header__theme-menu {
    justify-content: end;
    align-items: center;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .page {
    padding: 0 10px;
  }
  .header__title {
    margin: 0;
  }
  .accentid-shadow-text {
    font-size: var(--title-font-size-mobile);
  }
  .decorated-zone {
    min-block-size: 97vh;
    padding-block-start: 10px;
    padding-block-end: 10px;
  }
  .decorated-zone::before {
    inset-block-start: 10px;
  }
  .decorated-zone::after {
    inset-block-end: 10px;
  }
  .rec-icon {
    inset-block-start: 10px;
  }
}

/*section*/

h2 {
  color: var(--accent-color);
  font-size: var(--main-font-size);
}

.section-list {
  display: grid;
  gap: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-hadow {
  text-shadow: 2px 2px 0px var(--bg-text-color);
  text-decoration: none;
}

section:not(:first-child) {
  margin-block-start: 80px;
}

section:not(:last-child) {
  display: grid;
  gap: 20px;
}

section {
  margin: 60px 0;
}

.section__why,
.section__how {
  grid-template-columns: 315px 1fr;
}

.section__how-list-subtitle {
  margin-block-end: 20px;
}

.section__how-list-title {
  font-weight: var(--normal-weight);
}

.section__what-title {
  max-inline-size: 315px;
}

.section__what-list {
  grid-template-columns: repeat(3, 1fr);
}

.section__gallery-title {
  grid-column: 1/-1;
}

.section__gallery-list {
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.gallery__image-item:nth-child(1),
.gallery__image-item:nth-child(5) {
  grid-column: span 2;
}

.gallery__image-item:nth-child(2),
.gallery__image-item:nth-child(3) {
  grid-row: span 2;
}

@media (width < 1024px) {
  .section__why,
  .section__how {
    grid-template-columns: 236px 1fr;
  }
  .section__what-title {
    max-inline-size: 236px;
  }
  .section__what-list,
  .section__why-list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  section {
    margin: 40px 0;
  }
  section:not(:first-child) {
    margin-block-start: 50px;
  }
  .section__why,
  .section__how {
    grid-template-columns: 1fr;
  }
  .section__what-title {
    min-inline-size: 355px;
  }
  .section__gallery-list {
    display: flex;
    flex-direction: column;
    margin-block-start: 10px;
    gap: 10px;
  }
}

/*footer*/

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--shadow-text);
}
