/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

@media (min-width: 375px){
  .page {
    padding: 10px;
  }
  .header__title{
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px){
  .page {
    padding: 20px;
  }
  .header__title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
}

@media (min-width: 1024px){

}

.page {
  background-color: var(--bg-color, #FFF1F7);
  color: var(--text-color, #353430);
  background-image: url(/images/cover-image-light.png);
  background-size: auto 768px; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 20px;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header{
  display: grid;
  grid-template-rows: 299px max-content 299px;
  
}

.decorated-zone{
  position: relative;
  
}

.decorated-zone::before{
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid #353430;
  border-right: 1px solid #353430;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after{
  content: "";
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid #353430;
  border-left: 1px solid #353430;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.header__theme-menu{
  display: grid;
  align-items: flex-start; 
}

.header__theme-menu-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-item{
  display: grid;
}

.header__theme-menu-button{
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__title{
  font-weight: var(--bold-weight);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
  color: #FFC2E6;
}

.title{
  display: grid;
  grid-template-columns: 1fr minmax(355px, 1fr);
  align-items: center;
}

.title-decor{
  background-color: var(--bg-text-color);
  font-weight: var(--bold-weight);
  line-height: 23.4px;
  grid-column-start: 2;
 
}
