/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --hover-color: rgba(50, 49, 45, 0.4);
  --bg-color: #fff1f7;
  --text-color: #353430;
  --focus-color: #353430;
  --bg-text-color: #ff8dcb;
  --shadow-text: #ff0070;
  --accent-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --main-title-color: #ffc2e6;
  --visibility-rec-icon: hidden;
  --decorated-zone-frame-color: #353430;
  --main-font-size: 18px;
  --normal-weight: 400;
  --bold-weight: 700;
  --title-font-size-pc: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}
