/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/


:root{
  --bg-color:#FFF1F7;
  --text-color: #353430;
  --bg-text-color: #FF8DCB;
  --normal-weight: 400;
  --bold-weight: 700;
  --shadow-text: #FF0070;
  --main-font-size: 18px;
  --bg-image: url(/images/cover-image-light.png);
  --main-title-color: #FFC2E6;
}

